:root {
    --primary-font: "Roboto", sans-serif;
    --body-text-color: #434455;
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --main-white-color:#F4F4FD;
    --title-color:#2e2f42;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background-color: #FFF;
    margin:0;
}

img {
    display: block;
}
h1, h2, h3, h4, h5, li, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1158px;
    padding:0 15px;
    margin:0 auto;
}
.link {
    text-decoration: none;
    color: var(--body-text-color);
}
.list {
    color: var(--title-color);
}

/* Header */  
.header {
     max-height: 72px;
    border: 1px solid #E7E9FC;
} 
/* logo */
.link.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
}
.logo-grey {
    color: var(--title-color);
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-line {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-item {
    position:relative;
}
.link.nav {
    display: flex;
    color: var(--title-color);
    font-style: normal;
    padding: 24px 0;
}
.link.nav.active::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color); 
    position: absolute;
    bottom: 0;
    left: 0; 
}

.link.nav:hover,
.link.nav:focus,
.link.nav:active{
    color: var(--ocean-color);
}

.contacts{
    font-style: normal;
    line-height: 1.5em;
}
.contacts .link:hover,
.contacts .link:active,
.contacts .link:focus {
    color:var(--ocean-color)
}


/* hero */

.hero {
    color:#FFF;
    max-width: 1440;
    max-height: 600;
    background-color:#2E2F42; 
    background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)
	),
    url(/images/hero-image.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    
    padding: 188px 0;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin:auto auto 48px auto;
    max-width: 496px; 
}
.hero-container {

}
.hero-button {
    font-family: "Roboto", sans-serif; 
    color: #FFF;
    background-color: var(--iris-color); 
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

}
.hero-button:hover,
.hero-button:active, 
.hero-button:focus {
    background-color: var(--ocean-color);
}


/* benefits section */

.benefits-section{
    padding: 120px 0;
}

.benefits-list{
    display: flex;
    gap: 24px;
}
.benefits-icon-box{
    background-color: #F4F4FD;
    padding: 24px 100px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.text-section {
    width: calc((100% - 72px) / 4);
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.benefits-text{
    letter-spacing: 0.02em;
    color:var(--body-text-color);
}


/* what are we doing */
.wawd-section {
    padding-bottom: 120px;

}
.wawd-title {
    color: var(--title-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.wawd-list {
    display: flex;
    gap: 24px;
}


/* Team */

.team-section {
    background-color: var(--main-white-color);
    padding: 120px 0;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-card {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    min-height: 348px;
}
.team-card:hover,
.team-card:active,
.team-card:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-details {
    padding: 32px 16px;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
}
.team-title {
    color:var(--title-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-member {
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
}
.team-text {
    color: #434455;
}
.team-social-medias{
    display: flex;
    gap: 24px;
    margin-top: 8px;
}
.team-icon-link{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    padding: 12px;
    border-radius: 50%;
}
.t-socials{
    
}
.team-icon-link:hover,
.team-icon-link:focus,
.team-icon-link:active{
    background-color: var(--ocean-color);
}


/* Customers */
.customers{
    padding: 120px 0;
}
.customers-list{
    display:flex;
    justify-content:space-between;

}
.cust-item{

}
.cust-link{
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    flex-shrink: 0;
}
.cust-icon{
    fill:#8E8F99;
}
.cust-link:hover {
     border: 1px solid var(--ocean-color);
}
.cust-link:hover .cust-icon{
    fill:var(--ocean-color);
}

/* PORTFOLIO */

/*  button line */
.portfolio-section {
    padding-top: 96px; 
    padding-bottom: 120px; 
}
.buttons {
    font-family: var(--primary-font);
    color: var(--iris-color);
    background-color:var(--main-white-color);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.buttons:hover,
.buttons:active,
.buttons:focus
{
    background-color: var(--ocean-color);
    color:#FFF;
    border: 1px solid transparent;
}
.button-row{
    display:flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;

}


/* pictures */

.image-container{
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;

}
.image-card {
    width:calc((100% - 48px) / 3);
    
}
.image-card:hover,
.image-card:active,
.image-card:focus{
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.picture-title{
    font-weight: 500;
    font-size: 20px;
    color: var(--title-color);
    margin-bottom: 8px;
}
.picture-text {
    color: var(--body-text-color);
}
.card {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


/* Footer */

.footer {
    background-color: #2E2F42;
    color: var(--main-white-color);
    padding: 100px 0px;
}
.footer-container {
    display: flex;
    gap: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px; 
}
.logo-white {
    color: var(--main-white-color);
}
.footer-text{
    max-width: 264px;
}
.social-title {
    font-weight: 500px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.f-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    padding: 12px;
    border-radius: 50%;
}
.f-social-link:hover,
.f-social-link:focus,
.f-social-link:active{
    background-color: #31D0AA;
}


